<ion-item-divider sticky="true">
    <ion-item class="Search">
        <ion-icon name="logo-youtube" slot="start"></ion-icon>
        <ion-searchbar class="searchbar" type="Search" [(ngModel)] = "searchTerm" (ionChange)="setFilteredItems()" (ionCancel)="cancelSearch()" autocomplete ="on"></ion-searchbar>
    </ion-item>
</ion-item-divider>
<ion-item-divider sticky="true" *ngIf="shareDisplay">
    <ion-item>
            <ion-input type="text" placeholder="Enter sharing id" name="sharedId" [(ngModel)]="sharedId" required></ion-input>
            <ion-button slot="end"shape="round" fill="outline" (click)="share()"><ion-icon name="arrow-forward"></ion-icon></ion-button>
    </ion-item>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
</ion-item-divider>
<ion-list class="list">
    <ion-item color="light">
        <ion-label class="title" color="primary" (click)="sortItems('name')">Name</ion-label>
        <ion-label color="primary" (click)="sortItems('date')">Date</ion-label>
        <ion-label color="primary" (click)="sortItems('duration')">Duration</ion-label>
        <ion-label color="primary" (click)="sortItems('size')">Size</ion-label>
    </ion-item>   
    <div class="row reload" *ngIf="videos==null">
        <div class="col" >
            <ion-button slot="end" (click)="reload()" size="large" shape="round" fill="outline">
                <ion-icon name="refresh"></ion-icon> Refresh
            </ion-button>
        </div>
    </div>
    <ion-grid>
        <ion-row class="ion-justify-content-start">
            <ion-col *ngFor="let video of videos; let i = index;">
                <div class="video-class">
                    <ion-img (click)="openItem(video)" [src]="'https://medialibraryweb.000webhostapp.com/MediaLibrary/Movies/thumpnails/'+video.id+'.jpg'"></ion-img>
                    <div class="container">
                        <div class="details title"><ion-label text-wrap>{{video.name}}</ion-label></div>
                        <div class="details"><ion-label text-wrap>{{video.date}}</ion-label></div>
                        <div class="details"><ion-label text-wrap>Time: {{parseDuration(video.duration)}}, Size: {{video.size}}KB</ion-label></div>
                    </div>
                    <div class="containerOptions">
                        <ion-button (click)="shareDisplay=!shareDisplay; selectedVideoToShare=video;"><ion-icon name="share"></ion-icon></ion-button>
                        <ion-button (click)="downloadVideo(video)"><ion-icon name="arrow-round-down"></ion-icon></ion-button>
                        <ion-button (click)="deleteVideo(i,video.id, video.name)"><ion-icon name="trash"></ion-icon></ion-button>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- <ion-item-sliding *ngFor="let video of videos; let i = index;">
        <ion-item (click)="openItem(video)">
            <ion-label class="title" color="dark">{{video.name}}</ion-label>
            <ion-label color="dark">{{video.date}}</ion-label>
            <ion-label color="dark">{{video.duration}}</ion-label>
            <ion-label color="dark">{{video.size}}</ion-label>
        </ion-item>
        <ion-item-options side="start">
            <ion-button (click)="deleteVideo(video.id)"><ion-icon name="trash"></ion-icon></ion-button>
        </ion-item-options>
        <ion-item-options side="end">
            <ion-button (click)="downloadVideo(video.id)"><ion-icon name="arrow-round-down"></ion-icon></ion-button>
            <ion-button (click)="shareDisplay=!shareDisplay; selectedVideoToShare=video;"><ion-icon name="share"></ion-icon></ion-button>
        </ion-item-options>
    </ion-item-sliding>-->
</ion-list>
<!--ion-item>
    <ion-label>{{Notice}}</ion-label>
</ion-item
[ngStyle]="{'background-image': 'url( https://medialibraryweb.000webhostapp.com/MediaLibrary/Movies/thumpnails/'+video.id+'.jpg)'}"
-->