.title{
    min-width: 30%;
    font-weight: bolder;
}
.searchbar{
    min-width: 70%;
}
@media only screen and (orientation: portrait) {
    .details{
        visibility: hidden;
    }
    .title{  
        min-width: 70%;
        font-weight: bolder;
    }
}