ion-item{
    width:100%;
}
.title{
    min-width: 40%;
    font-weight: bolder;
}
.searchbar{
    min-width: 70%;
}
.reload{
    align-content: center;
    margin-top:100px;
    margin-left:40%;
}
@media only screen and (orientation: portrait) {
    .details{
        visibility: hidden;
    }
    .detailsHide{
        min-width:40%;
    }
    .title{  
        width:60%;
        font-weight: bolder;
    }
}