ion-item{
    width:100%;
}
.title{
    min-width: 30%;
    font-weight: bolder;
}
.searchbar{
    min-width: 70%;
}
.reload{
    position: absolute;
    top: 70%;
    left: 50%;
    margin: 0 0 0 -80px;
}
@media only screen and (orientation: portrait) {
    .details{
        visibility: hidden;
    }
    .detailsHide{
        width:40%;
    }
    .title{  
        width:60%;
        font-weight: bolder;
    }
}