<ion-item-divider sticky="true">
    <ion-item class="Search">
        <ion-icon name="musical-notes"  slot="start"></ion-icon>
        <ion-searchbar class="searchbar" type="Search" [(ngModel)] = "searchTerm" (ionChange)="setFilteredItems()" (ionCancel)="cancelSearch()" autocomplete ="on"></ion-searchbar>
    </ion-item>
</ion-item-divider>
<ion-item-divider sticky="true" *ngIf="shareDisplay">
    <ion-item>
            <ion-input type="text" placeholder="Enter sharing id" name="sharedId" [(ngModel)]="sharedId" required></ion-input>
            <ion-button slot="end"shape="round" fill="outline" (click)="share()"><ion-icon name="arrow-forward"></ion-icon></ion-button>
    </ion-item>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
</ion-item-divider>
<ion-list class="list">
    <ion-item color="light">
        <ion-label class="title" color="primary" (click)="sortItems('name')">Name</ion-label>
        <ion-label class="details" color="primary" (click)="sortItems('album')">Album</ion-label>
        <ion-label class="details" color="primary" (click)="sortItems('artist')">Artist</ion-label>
        <ion-label class="details" color="primary" (click)="sortItems('size')">Size</ion-label>
        <ion-label class="detailsHide" color="primary" (click)="sortItems('duration')">Duration</ion-label>
    </ion-item>
    <div class="reload" *ngIf="songs==null">
        <ion-button slot="end" (click)="reload()" size="large" shape="round" fill="outline">
            <ion-icon name="refresh"></ion-icon> Refresh
        </ion-button>
    </div>
    <ion-item-sliding *ngFor="let song of songs;let i = index;" #dynamicList>
        <ion-item (click)="openItem(song)">
            <ion-label class="title" color="dark">{{song.name}}</ion-label>
            <ion-label class="details" color="dark">{{song.album}}</ion-label>
            <ion-label class="details" color="dark">{{song.artist}}</ion-label>
            <ion-label class="details" color="dark">{{song.size}}</ion-label>
            <ion-label class="detailsHide" color="dark">{{song.duration}}</ion-label>
        </ion-item>
        <ion-item-options side="start">
            <ion-button (click)="deleteSong(song.id)"><ion-icon name="trash"></ion-icon></ion-button>
        </ion-item-options>
        <ion-item-options side="end">
            <ion-button *ngIf="!song.available" (click)="downloadSong(song)"><ion-icon name="arrow-round-down"></ion-icon></ion-button>
            <ion-button (click)="shareDisplay=!shareDisplay; selectedSongToShare=song;"><ion-icon name="share"></ion-icon></ion-button>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>
<!--ion-item>
    <ion-label>{{Notice}}</ion-label>
</ion-item-->
<!--div *ngIf="display" class="display" autoplay="true" id="aPlayer" #musicplayer>
    <ion-item class="ionaudioplayer"><audio class="audioplayer" src="{{songPlaying}}" autoplay="true" controls="controls" #audioplayer></audio></ion-item>
</div-->